@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #eaeaec;
    background-image: url(./images/background_img.jpg);
    background-repeat: repeat;
    overflow: hidden;
}

h1 {
    color: #5462B6;
    font-size: 1.5em;
    font-weight: 500;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 1.1rem;
    color: #0A0A0A;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #bfbfbf;
    transition: all 0.35s ease 0s;
}

a:hover {
    color: #979797;
}

.header {
    width: 100%;
    padding: 15px 5%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

#left-wrap {
    width: 40%;
    padding-right: 30px;
}

#right-wrap {
    width: 55%;
    position: relative;
}

.calculator, .about {
    background-color: #ffffff;
    width: 100%;
    padding: 35px 45px;
    border-radius: 10px;
}

label {
    color: #0A0A0A;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    background-color: #e1f2ff;
    border: none;
}

select {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    background-color: #e1f2ff;
    border: none;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col-6 {
    width: 48.5%;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #f1a96a;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.35s ease 0s;
}

button:hover {
    background-color: #f1bb6a;
}

#results {
    overflow-y: scroll;
    height: inherit;
}

.plots {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

.add-info {
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    padding: 15px;
}

#scroll-up {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 30px;
    z-index: 99;
    background-color: #f1a96a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: all 0.35s ease-in-out 0s;
}

#scroll-up:hover {
    background-color: #f1bb6a;
}

#arrow-up {
    width: 40px;
    height: 40px;
}

button {
    padding: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.table {
    width: 100%;
    background-color: whitesmoke;
}

#results-table {
    width: 100%;
    border-collapse: collapse;
}

#results-table td, #results-table th {
    border: 1px solid #ddd;
    padding: 10px;
}

#results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#results-table tr:hover {
    background-color: #ddd;
}

#results-table th {
    padding: 12px 10;
    text-align: left;
    background-color: #D9D9D9;
}

@media screen and (max-width: 980px) {
    body {
        overflow-y: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    #left-wrap {
        width: 80%;
        padding-right: 0px;
        margin: auto;
        margin-bottom: 30px;
    }
    #right-wrap {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 620px) {
   #gh-link{
       display: none;
   }

   h1{
       text-align: center;
   }

   .row{
       display: flex;
       flex-direction: column;
   }

   .col-6{
       width: 100%;
   }
}