<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>EPITC</title>
</head>

<body>
    <div class="header">
        <div class="heading">
            <a href="">
                <h1>ECONOMIC PIPELINE INSULATION THICKNESS CALCULATOR</h1>
            </a>
        </div>
        <a id="gh-link" href="https://github.com/cechiorlu/epitc" target="_blank" rel="noopener noreferrer">DOWNLOAD SOURCE CODE</a>
    </div>
    <div class="container">
        <div id="left-wrap">
            <div class="about">
                <p>
                    This application appraises hot pipe systems and calculates the optimum insulation
                    thickness (thickness of insulation that both meets all service specific requirements and offers the
                    least total cost).
                </p>
                <p>
                    EPITC is an open source project licensed under the <a
                        href="https://github.com/cechiorlu/epitc/blob/main/LICENSE" target="_blank"
                        rel="noopener noreferrer">GPL-3.0 License</a>. To contribute, visit our <a
                        href="https://github.com/cechiorlu/epitc" target="_blank" rel="noopener noreferrer">github
                        repository</a> to
                    read up on our contributing guidelines.
                </p>
                <p>

                </p>
            </div>
        </div>

        <div id="right-wrap">
            <div class="calculator">
                <form action="/calculate" method="post">
                    <div class="block">
                        <label for="temp1">Temperature of pipe without insulation (oC):</label>
                        <input type="text" name="temp1" id="temp1" required>
                    </div>
                    <div class="row">
                        <div class="block col-6">
                            <label for="pipe-length">Length of pipe (m):</label>
                            <input type="text" name="pipe_length" id="pipe-length" required>
                        </div>
                        <div class="block col-6">
                            <label for="pipe-size">Pipe Outer Diameter (m):</label>
                            <input type="text" name="pipe_size" id="pipe-size" required>
                        </div>
                    </div>
                    <div class="block">
                        <label for="temp2">Maximum temperature after insulation (oC):</label>
                        <input type="text" name="temp2" id="temp2" required>
                    </div>

                    <div class="block">
                        <label for="steam_cost">Steam cost(N/kg):</label>
                        <input type="text" name="steam_cost" id="steam_cost" required>
                    </div>
                    <div class="block">
                        <label for="service-charge">Installation Service charge(N/m):</label>
                        <input type="text" name="cost_per_length" id="service-charge" required>
                    </div>
                    <div class="block">
                        <label for="material-cost">Material Cost(N/m3):</label>
                        <input type="text" name="cost_per_volume" id="material-cost" required>
                    </div>

                    <div class="row">
                        <div class="block col-6">
                            <label for="Insulation-mat">Insulation Material:</label>
                            <select name="insulation_mat" id="insulation-mat">
                                <option value="mineral_fiber_1">Mineral Fiber Type I</option>
                                <option value="mineral_fiber_235">Mineral Fiber Type II,III,V</option>
                                <option value="cellular_glass">Cellular Glass</option>
                                <option value="calcium_silicate">Calcium Silicate</option>
                            </select>
                        </div>
                        <div class="block col-6">
                            <label for="runtime"> Runtime:</label>
                            <input type="text" name="runtime" id="runtime" placeholder="hrs/week">
                        </div>
                    </div>

                    <button type="submit">CALCULATE</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/scripts.js"></script>

</body>

</html>